<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/faculties}">Faculties</a></li>
        <li><a th:href="@{/courses}">Courses</a></li>
        <li><a th:href="@{/students}">Students</a></li>
        <li><a th:href="@{/search}">Search</a></li>
    </ul>
</nav>

<div>
    <h2>Welcome!</h2>
</div>

</body>
</html>
