<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/faculties}">Faculties</a></li>
        <li><a th:href="@{/courses}">Courses</a></li>
    </ul>
</nav>

<div>
    <h2>Students</h2>
    <ul>
        <li th:each="student : ${students}">
            <a th:href="@{/students/{id}(id=${student.getId()})}" th:text="${student.getName() + ' ' + student.getSurname()}"></a>
        </li>
    </ul>
</div>


</body>
</html>
